body{
    background-color: black;
    background-image: url("../../assets/images/crystalCave1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.container{
    color: white;
    background: rgb(0, 0, 0, 0.7)
}

.game-title-container h1{
    font-size: 48px;
}

.game-title-container{
    border: 2px dashed #FF9966;
}

/* this is for target number */
.target-title{
    border: 2px dashed #BA01FF;
}

.title-container{
    
    width: 20%;
}

.rules-container{
    border: 2px dashed 	#FFFF66;
    height: fit-content;
}

.target-row{
    width: 51%; 
    height: 8rem;
    float: left;
}

.win-lose{
    border: 2px dashed #B6FF00;
    float: right;
    width: 52%;
}

.wins{
    float: left;
    margin-left: 2rem;
}


.losses{
    float: right;
    margin-right: 2rem;
}

.buttons-container{
    border: 2px dashed #228DFF;
    display: flex;
    justify-content: center;
}

.card-body{
    color: white;
}
.spacing{
    margin-top: 2rem;
    /* box-shadow: 2px 3px gray; */
}

.total-score-container{
    border: 2px dashed #FF1177;
    clear: both;

}

#target{
    text-decoration: none;
}
.number{
    text-decoration: underline;
}


.button1{
    background-image: url("../../assets/images/amethyst.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: glow1 2s infinite alternate;
}
.button2{
    background-image: url("../../assets/images/amethyst.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: glow2 2.2s infinite alternate;
}
.button3{
    background-image: url("../../assets/images/amethyst.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: glow3 2.4s infinite alternate;
}
.button4{
    background-image: url("../../assets/images/amethyst.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: glow4 2.6s infinite alternate;
}


@keyframes glow1{
    
    from{
        box-shadow: 0 0 8px -8px  #228DFF;;
    }
    to{
        box-shadow: 0 0 8px 8px  #228DFF;
    }
}
@keyframes glow2{
    
    from{
        box-shadow: 0 0 8px -8px  #BA01FF;
    }
    to{
        box-shadow: 0 0 8px 8px   #BA01FF;
    }
}
@keyframes glow3{
    
    from{
        box-shadow: 0 0 8px -8px  #B6FF00;
    }
    to{
        box-shadow: 0 0 8px 8px   #B6FF00;
    }
}
@keyframes glow4{
    
    from{
        box-shadow: 0 0 8px -8px #FF1177;
    }
    to{
        box-shadow: 0 0 8px 8px   #FF1177;; 
    }
}